body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-family: "Courier New", Courier, monospace;
  /* padding: 10px; */
  background-color: rgb(22, 22, 22);
}

h1 {
  color: brown;
  background-color: aqua;
}
h1:hover {
  transform: scale(1.2);
}

canvas {
  background-color: white;
  border-radius: 8px;
}
